*{margin: 0;padding: 0;}
.al{display:inline-block;}
.fl {
    float: left;
}
.clearix:after{
    display: block;
    content: '.';
    height: 0;
    visibility: hidden;
    clear: both;
}
li{
list-style: none;
}
body{background: #555;}
.container{
    width: 980px;
    height: 1386px;
    margin:0 auto;
    padding:0 44px;
    box-sizing: border-box;
    background: #fff;
}
.container header{
    width: 100%;
    /*display: table;*/
    overflow: hidden;
}
.container header .red{
    width: 110px;
    height: 61px;
    background: red;
    display: inline-block;
    vertical-align:bottom;
}
.container header time{
    display:inline-block;
    text-align:right;
    width: calc(892px - 110px);
    font-size: 12px;
}
.container header .line{
    height: 2px;
    background: #928e8c;
}
.main .topbar .als{
    width: 641px;
    display: inline-block;
    vertical-align: top;
    /*height: 301px;*/
}
.main .topbar .als img{
    display: block;
}
.main>.topbar{
    height: 611px;
    /*width: 892px;*/
    font-size: 0;
    /*border:1px solid blue;*/
    /*font-size:0;*/
    /*overflow: hidden;*/
}
.main>.topbar .ar{
    width: 203px;
    /*height: 611px;*/
    margin-left: 48px;
    vertical-align: top;
    /*word-spacing:0;*/
    font-size: 0.16rem;
    display: inline-block;
}
.main>.topbar .ar h1{
    font-size: 24px;
color: #000;
font-family:Microsoft YaHei;
line-height: 40px;
text-decoration: underline;
}
.main>.topbar .ar p{
    font-size: 12px;
    color: #676767;
    font-family:KaiTi;

}
.main>.topbar .ar i{
    font-size: 116px;
    color: #75b86b;
    font-family:Microsoft YaHei;
    /*text-decoration: underline;*/
}
.main>.topbar .ar>div{
    box-sizing: border-box;
}
.main>.topbar .ar>div .fr{
    padding-top:18px; 
}
.main>.topbar .ar div.fl p{
    font-size: 55px;
    line-height: 55px;
    color: #cc8091;
    font-family:Microsoft YaHei;
    /*vertical-align: bottom;*/
    
}
.main>.topbar .ar div.fr p:nth-child(1){
    font-size: 21px;
    line-height: 21px;
    /*margin-top: 10px;*/
    color: #cc8091;
    font-family:Microsoft YaHei;
    /*float: left;*/

}
.main>.topbar .ar div.fr p:nth-child(2){
    font-size: 12px;
    line-height: 12px;
    color: #c6c5c5;
    font-family:Microsoft YaHei;

}

.main>.topbar .bottombar{
    display: table;
    /*border:1px solid red;*/
    box-sizing: border-box;
    word-spacing:-1em;
    /*border:1px solid red;*/
}
.main .topbar .bottombar>div{
    width: 33.3334%;
    /*border:1px solid red;*/
    word-spacing:0;
    height: 250px;
    margin-top: 20px;
    /*height: 305px;*/
    display: inline-block;
    /*word-spacing:0;*/
    font-size: 12px;
        /* 是对自身起作 */
    vertical-align: top;
    /*box-sizing: border-box;*/
}
.main .topbar .bottombar>div p{
    line-height: 16px;
}
.main .topbar .bottombar>div h1{
    font-size: 16px;
      font-family:Microsoft YaHei;
      font-weight: bold;
    text-decoration:  underline;
    /*margin: 5px 0;*/
    line-height: 26px;
}
.main .topbar .bottombar div.left h1{color: #418c59;}
.main .topbar .bottombar div.mid h1{color: #d2994f;}
.main .topbar .bottombar div.right h1{color: #cc7680;}
.main .topbar .bottombar div.right h2{
font-size: 12px;
 font-family:Microsoft YaHei;
 line-height: 16px;
 opacity: 0.7; 
 color:#231815;
}
.main .topbar .bottombar div.right div{
    margin-top: 20px;
}
.main .topbar .bottombar div.right h2 i{
    color: #cd4a48;
}
.main footer{
    /* border: 1px solid red; */
    display:table;
    word-spacing:-1em;
}
.main footer p{font-size: 12px;}
.main footer .left .topbar h1{
    color:#11456b;
    /*display: inline;*/
    font-size:42px;
    font-family:"SimHei";
    font-weight:bold;
    /*line-height: 50px;*/
}
.main footer .left .topbar p{
color: #767777;
    line-height: 16px;
font-family: SimSun;
}
.main footer .left .topbar h1 i{
    font-size: 72px;
    font-style: italic;
    color: #f5e327;
}
.main footer .left .topbar .item1:first-letter{
    font-size: 70px;
    line-height: 70px;
    color: #f5e327;
    float: left;
    margin-right:5px;
    font-family:Microsoft YaHei;
}
.main footer .left .topbar .item1 img{
    float: right;
    margin-left: 21px;
    margin-top:20px;
}
.main footer .left{
    background: #eee;
    width: 415px;
    display:inline-block;
    vertical-align:top;
    /* opacity:0.5; */
}
/* .main footer .left img{float: right;} */
.main footer .right{
    width: 458px;
    margin-left: 18px;
    /* border:1px solid blue; */
    vertical-align:top;
    display:inline-block;
}
.main footer .right div:first-child{
    width: 458px;
    height: 257px;
    background:url(../images/pt2.png);
    position: relative;
}
.main footer .right div:first-child div{
    width: 100%;
    height: 60px;
    background: rgba(0,0 , 0, 0.5);
position: absolute;
bottom: 0;
left: 0;
word-spacing: 0;
line-height: 60px;
}
.main footer .right div:first-child div h1{
    font-size: 26px;
    color:#fff;
    display: inline-block;
      line-height: 44px;
      border-left:2px solid #72b16a;
      padding: 0 5px;
      margin-left:15px; 
}
.main footer .right div:first-child div i{
    font-size: 12px;
    display: inline-block;
    color: #72b16a;
    line-height: 44px;
}
.main footer .right div:last-child{
    width: 459px;
    /*height: 318px;*/
    margin-top: 30px;
    background:#eeedd6;
}
.main footer .right div ul.topbar li{
    font-size: 16px;
    color: #5a5b5b;
    line-height: 36px;
    font-family: SimSun;
}

.main footer .right div ul.topbar li i{
    font-size: 12px;
}
.main footer .right div.btm{
    /*border:1px solid red;*/
}
.main footer .right div.btm ul{
    display: table;
    width: 260px;
    height: 160px;
    word-spacing:-1em;
    line-height: 160px;
    background: #d45d5c;
}
.main footer .right div.btm>p{
    width: 199px;
    font-size: 14px;
    padding: 0 14px;
    font-style: italic;
    color:#5a5b5b;
    line-height: 20px;
    word-spacing:0;
    box-sizing: border-box;
}
.main footer .right div.btm ul li{
    display: inline-block;
    vertical-align: middle;
    word-spacing:0;
    color: #fff;
}
.main footer .right div.btm ul li:first-child{
/* width: 110px; */
    width: 80px;
    font-size: 110px;
    line-height: 86px;
    text-align:center;
    vertical-align: middle;
    border-right:2px solid #fff;
    height: 86px;
    box-sizing: border-box;
}

.main footer .right div.btm ul li:last-child{
    width: 180px;
    font-family: SimHei;
}
.main footer .right div.btm ul li:last-child h2{
    font-size: 21px;
    font-style: italic;
    margin-left: 5px;
    line-height: 24px;
}
.main footer .right div.btm ul li:last-child p{
    font-size: 12px;
    margin-left: 5px;
    font-family: SimHei;
    line-height: 12px;

}
