/* 公共样式表  */
*{margin: 0;padding: 0;color:#555;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{content:".";height: 0;display: block;visibility:hidden;clear: both;}
.alignRight{
    text-align:right;
}
button{border:none;}
html{font-size: 625%;}
@media (max-width: 600px) {
    html {font-size: 312.5%;}
}
ul,li{list-style: none;}
a{text-decoration:none;}
/* 解决ie9-浏览器下图片边框问题 */
img{border-style:none;}

/* 结构样式表 */
header{
    font-size: 0;
    white-space:nowrap;
    text-align: center;
}
header *{vertical-align:middle;}
header .logo{
    display:inline-block;
    *zoom:1;*display:inline;
    margin-left: 0.1rem;
    width: 15%;
    line-height: 0.56rem;
}
header .logo a span{
    font-size: 0.21rem;
    margin-left: 0.1rem;
}
header .logo img{
    vertical-align:middle;
}
header div.list{
    display: inline-block;
    *zoom:1;*display:inline;
    width: 70%;
    text-align: right;
    /* background: #eee; */
}
header div.list ul{
    display:inline-block;
    *zoom:1;*display:inline;
    text-align:right;
}
header div.list ul li{
    display:inline-block;
    *zoom:1;*display:inline;
    min-width: 1.03rem;
    font-size: 0.14rem;
    line-height:0.56rem;
    position: relative;
    text-align:center;
}
header div.list ul li div{
    width: 0.65rem;
    height: 0.05rem;
    background: red;
    position: absolute;
    bottom: 0;
    left:calc((100% - 0.65rem)/2);
    display:none;
}
header div.list ul li:hover div{
    display:block;
}
header .login{
    width: 15%;
    text-align:center;
    font-size: 0.14rem;
    display:inline-block;
    *zoom:1;*display:inline;
}
.show{
    width: 100%;
    height: 8.54rem;
    background: url(../images/bg1.jpg) no-repeat;
    background-size:100% 100%;
    color: #fff;
    padding-left:2rem;
    box-sizing: border-box;
    padding-top: 2rem;
}
.show h1{
    font-size: 0.6rem;
    line-height: 1rem;
    color: #fff;
}
.show p{
    color: #fff;
    line-height: 0.4rem;
    /* text-align: center; */
    font-size: 0.21rem;
}
.show button{
    color: #fff;
    border:none;
    width: 3.3rem;
    margin-top: 0.4rem;
    box-sizing: border-box;
    height: 0.65rem;
    background: red;
    font-size: 0.3rem;
    text-align:center;
    line-height: 0.65rem;
    display:block;
}
.ads{
    width: 100%;
    height: 250px;
    font-size: 0;
}
.ads *{vertical-align:middle;}
.ads ul{display:inline-block;*zoom:1;*display:inline;vertical-align:middle;width: 100%;line-height:1rem;}
.ads .img li{text-align: center;width: calc(100%/4);display:inline-block;*zoom:1;*display:inline;}
.ads ul.text li{
    font-size: 0.12rem;
    width: calc(100%/4);
    /* min-width:3.34rem; */
    display:inline-block;
    *zoom:1;*display:inline;
}
.ads ul.text li:not(:last-child){
    border-right:2px solid red;
    box-sizing: border-box;
}
.ads ul.text li p{
    text-align:center;
    line-height: 0.2rem;
    /* line-height:250px; */
}

.wantTo{
    width: 100%;
    height: 3.6rem;
    background: #ececec;
    text-align: center;
}
.wantTo img{
    margin-top: 0.9rem;
}
.wantTo h1{
    font-size: 0.54rem;
    color:#a1a1a1;
}
.search{
    width: 100%;
    height: 3.4rem;
    background: url(../images/bg2.jpg) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 0.53rem;
    box-sizing: border-box;*behavior: url(js/boxsizing.htc);
    font-size: 0.12rem;
}
.search h1{
    color: #fff;
    font-size: 0.21rem;
    text-align: center;
}
.search p{
    color: #fff;
    margin:0.34rem 0;
    text-align: center;
}
.search select{
    width: 2.35rem;
    height: 0.35rem;
}
.search select{
    margin: 0 0.15rem;
}
.search input{
    width: 2.35rem;
    margin-left: 0.15rem;
    height: 0.35rem;
    background: #be4e48;
    border:none;
    color:#fff;
    font-size: 0.14rem;
}
.activity {
    width: 100%;
    height: 6.04rem;
    background: #f7f7f7;
    padding-top: 1.07rem;
    box-sizing: border-box;
}
.activity ul{
    font-size: 0;
    width: 9.86rem;
    margin: 0 auto;
}
.activity ul li{
    width: 2.2rem;
    height: 3.9rem;
    margin:0 calc((100% - 2.2rem*4)/8);
    box-sizing: border-box; *behavior: url(js/boxsizing.htc);
    display: inline-block;
    *zoom:1;*display:inline;
    border:0;
    font-size: 0.12rem;
    overflow: hidden;
}
.activity ul li h1{text-align: center;
    line-height: 0.4rem;
    white-space: pre-wrap;
}
.activity ul li p{
    text-align: center;
    line-height: 0.2rem;
}
.activity ul li img{
    display:inline-block;
    *zoom:1;*display:inline;
    border:1px solid #cfcece;
    /*border: 1px solid red;*/
    padding: 8px 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; *behavior: url(js/boxsizing.htc);
    width: 100%;
}
.about{
    width: 100%;
    height: 10.87rem;
    /* border:1px solid red; */
    overflow: hidden;
}
.about>ul{
}
.about ul li{
    font-size: 0.12rem;
    box-sizing: border-box;
    /* border:1px solid red; */
    display: inline-block;
    *zoom:1;*display:inline;
    height: 5.66rem;
    text-align: center;
    padding-top: 1.65rem;
}
.about ul li h1{font-size: 0.22rem;line-height: 0.45rem;text-align: center;}
.about ul li.item1{width:calc(100%/3*2);background: url(../images/about/1.jpg);
    background-size: 100% 100%;
}
.about ul li.item2{width:calc(100%/3);background: url(../images/about/2.jpg);
    padding:1.65rem 0.72rem 0;
}
.about ul li.item2 h1 span{color: red;}
.about ul li.item2 p{text-align: left;
    line-height: 0.3rem;}
.about ul li.item2 button{
    margin-top:0.41rem;
}
.about ul li.item3{width:calc(100%/3);background: red;}
.about ul li.item3 h1{color: #fff;}
.about ul li.item3 button{
    color:#fff;
    border:1px solid #fff;
}
.about ul li.item4{width:calc(100%/3);background: #fff;}
.about ul li.item5{width:calc(100%/3);background: url(../images/about/2.png) no-repeat;background-size: 100% 100%;}
.about ul li.item5 *{color:#fff;}
.about ul li.item5 button{border:1px solid #fff;}
.about ul li.item1 p{color: #fff;font-size: 0.22rem;line-height: 0.45rem;text-align: center;}
.about ul li.item1 h1.spa{color: #fff;text-align: center;font-size: 1.58rem;line-height: 1.6rem;}
.about ul li button{
    width: 105px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    /* margin:0 auto; */
    border:1px solid red;
}
.about .newWorld p.big{font-size: 0.5rem;}
.become{
    width: 100%;
    height: 7.5rem;
    background: #ffffff;
    padding-top: 1.2rem;
}
.become .topbar{
    /* border:1px solid blue; */
    margin-bottom: 1.06rem;
}
.become .topbar *{
    font-size: 0.12rem;
    text-align: center;
}
.become .topbar p{
    color:#aaaaaa;
}
.become .topbar p.qqww{
    margin-top: 0.27rem;
}
.become .buttombar{
    width: 10.05rem;
    margin: 0 auto;
    /* border:1px solid red; */
}
.become .buttombar .left{
    /* border:1px solid red; */
    box-sizing: border-box;
    width: 2.9rem;
}
.become .buttombar .left h1{
    font-size: 0.14rem;
    margin-bottom: 0.27rem;
    /* line-height: 0.35rem; */
}
.become .buttombar .left h1.adww{
    margin-top: 0.35rem;
}
.become .buttombar .left h1.qqaa{
    margin-bottom: 0;
}
.become .buttombar .left p{
    font-size: 0.12rem;
    line-height: 0.21rem;
}
.become .buttombar .right{
    /* border:1px solid red; */
    box-sizing: border-box;
    width:6.4rem;
    margin-left: 0.75rem;
}
.become .buttombar .right .abss{
    width: 3.1rem;
    height: 0.4rem;
    background: #ececee;
    border:none;
    margin-bottom: 0.14rem;
}
.become .buttombar .right .dss{
    margin-left: 0.18rem;
}
.become .buttombar .right textarea{
    width: 100%;
    height: 1.2rem;
    background: #ececee;
    border:none;
    margin-bottom: 0.14rem;
}
.become .buttombar .right form{
    font-size: 0;
}
.become .buttombar .right button{
    width: 100%;
    height: 0.4rem;
    background: #ececee;
}
.contact{
    width: 100%;
    height: 3.6rem;
    background: #32353e;
    padding-top: 0.9rem;
    box-sizing: border-box;
}
.contact h1{
    font-size: 0.21rem;
    color:#fff;
    text-align:center;
    margin-bottom: 0.12rem;
}
.contact p{
    text-align:center;
    color:#fff;
    font-size: 0.12rem;
    line-height: 0.18rem;
}
.contact form{
    text-align:center;
    font-size: 0;
    margin-top: 0.3rem;
    /* border:1px solid red; */
}
.contact form input{
    width: 4.2rem;
    height: 0.4rem;
    vertical-align:middle;
    border:none;
}
.contact form button{
    width: 0.8rem;
    height: 0.4rem;
    border:none;
    color:#fff;
    vertical-align:middle;
    background: #707278;
}
.contact .img{
    width: 172px;
    /* border:1px solid red; */
    margin:37px auto;
}
.contact .img li{float: left;width: 24px;
    height: 25px;
}
.contact .img li:not(:first-child){
    margin-left: 22px;
}
.contact .img li:nth-child(1){background: url(../images/contact/1.png) no-repeat;background-size: 100% 100%;width: 29px;}
.contact .img li:nth-child(2){background: url(../images/contact/2.png) no-repeat;background-size: 100% 100%;}
.contact .img li:nth-child(3){background: url(../images/contact/3.png) no-repeat;background-size: 100% 100%;width: 29px;}
.contact .img li:nth-child(4){background: url(../images/contact/4.png) no-repeat;background-size: 100% 100%;}
footer{
    width: 100%;
    height: 0.58rem;
    background: #2f3038;
    overflow: hidden;
    position: relative;
}
footer p{
    font-size: 0.12rem;
    margin-left: 1rem;
    color:#fff;
    line-height: 0.58rem;
}
footer p.fixed{
    position: absolute;
    bottom: 0.23rem;
    right:0.4rem;
    line-height:0.12rem;
}
